@import "../variables.scss";

.Heading {
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // display: inline-block;
  // max-width: 100%;

  &--ellipsis {
    //create a text ellipsis and add a 3 dots at the end
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
  }

  &--underline {
    text-decoration: underline $text-primary 2px;
  }

  // max-width: 300px;
}
