.MainFooter {
  margin-top: auto;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }
  }

  &__name {
    margin-left: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    gap: 0.5rem;

    @media (min-width: 640px) {
      padding-left: 1rem;
      margin-left: 1rem;
      border-left-width: 2px;
      border-color: #e5e7eb;
    }
  }

  &__selectTheme {
    margin: 0.5rem auto;

    @media (min-width: 640px) {
      margin: 0 0 0 auto;
    }
  }

  &__social {
    display: inline-flex;
    margin-top: 1rem;
    justify-content: center;

    @media (min-width: 640px) {
      margin-top: 0;
      margin-left: 25px;
    }
  }
}
