@import "../variables.scss";

.ThemeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--text-primary);
  background-color: $background;
  min-height: 100vh;
  padding: 0 1rem;

  @media (min-width: 640px) {
    padding: 0 2rem;
  }

  @media (min-width: 1000px) {
    padding: 0 4rem;
  }

  a {
    color: var(--text-primary);
    text-decoration: none;
  }
}
