@import "../variables.scss";

.ThemeComtainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--text-primary);
  background-color: $background;
  min-height: 100vh;

  a {
    color: var(--text-primary);
    text-decoration: none;
  }
}
