.NoteProfile {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
  margin: 0 auto 80px;
  gap: 20px;

  @media (min-width: 768px) {
    min-width: 560px;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__description {
    gap: 20px;

    a {
      text-decoration: none;
      color: #0045a5;
      font-weight: bold;
    }
  }

  &__button {
    margin-right: auto;
  }

  &__close {
    transition: transform 250ms ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-left: auto;
  }
}
