.NoteProfile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  margin-bottom: 80px;
  gap: 20px;

  @media (min-width: 768px) {
    min-width: 560px;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__description {
    gap: 20px;
  }
}
