@import "../variables.scss";

.ActionButtons {
  gap: 20px;
  margin-left: auto;
  bottom: 150px;

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon {
    color: $text-primary;
  }
}
