@import "../variables.scss";

.Badge {
  padding: 0.25em 0.4em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: 0.25rem;
  background-color: $buttonBackground;
  color: $buttonText;
  width: fit-content;
}
