@import "../variables.scss";

.Button {
  background-color: $buttonBackground;
  color: $buttonText;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;

  cursor: pointer;
  &:hover {
  }
  &:active {
  }
  &:focus {
  }
}
