@import "../variables.scss";

.FieldInput {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: rgba(204, 204, 204, 0.04);
    transition: all 0.2s ease-in-out;
    color: $text-primary;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
    }
    &::placeholder {
      color: $text-primary;
    }
  }
  &__error {
    color: $text-error;
  }
}
