@import "../variables.scss";

.Heading {
  //create a text ellipsis and add a 3 dots at the end
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;

  // max-width: 300px;
}
