@import "../variables.scss";

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style-type: none;
  }
}
