@import "../variables.scss";

.Paragraph {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
  margin: 0;

  &--bold {
    font-weight: bold;
  }

  &--small {
    font-size: 12px;
  }
}
