@import "../../variables.scss";

.NoteForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;

  &__date {
    margin-right: auto;
  }

  &__submitButton {
    margin-left: auto;
  }
}
