@import "./variables.scss";

.App {
  color: var(--text-primary);
  background-color: $background;
  min-height: 100vh;
  padding-top: 100px;
  font-size: large;
  font-weight: bold;
  transition: all 0.5s;

  a {
    color: var(--text-primary);
    text-decoration: none;
  }
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
}

.Container {
  display: grid;
  place-content: center;
  // height: 100vh;
}
