@import "./variables.scss";

* {
  box-sizing: border-box;
  // outline: 3px solid limegreen !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: white;
  --text-primary: #0f172a;
  --text-error: #ff0000;
  --text-secondary: royalblue;
  --accent: purple;
  --button-background: #0f172a;
  --button-text: white;
}

[data-theme="dark"] {
  // --background: #0f172a;
  --background: rgba(17, 17, 17);
  --text-primary: rgb(237, 237, 237);
  --text-error: #e80505f6;
  --text-secondary: grey;
  --accent: darkred;
  --button-background: white;
  --button-text: #0f172a;
}
