@import "../../variables.scss";

.AuthForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;

  margin: auto 0;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
